.o-modal-close{
    background-color: var(--color-dark-gray);
    color: var(--color-lemon);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.o-loader-content{
    max-width: 300px;
}
.o-loader-points{
    position: relative;
    font-family: Avenir;
}
.o-loader-points::after{
    animation-name: animateload;
    position: absolute;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    content: '';
    font-family: Avenir;
}

.o-inner-loader{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.o-loader-content img{
    max-width: 300px;
}
@keyframes animateload {
    0%{
        content: '';
    }
    33%{
        content: '.';
    }
    66%{
        content: '..';
    }
    100%{
        content: '...';
    }
  }